# this is gust a example file 

# app Config (ConfigMap)

APP_PORT= example 8080
PAGINATION_LIMIT=20
CLOUDINARY_CLOUD_NAME=your-cloud-name

# for local CORS testing only

FRONTEND_URL=http://localhost:3000

#secrets (Kubernetes Secret)

MONGODB_URI=your-mongodb-connection
JWT_SECRET=your-jwt-secret
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
